<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235467762240-n38dlp3bdo1lghl7jrs7p0gjv9og5rrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235467762240-n38dlp3bdo1lghl7jrs7p0gjv9og5rrq</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Lim_Hqp45XS-2h7jZko2BDnB8oZNEy4</string>
	<key>GCM_SENDER_ID</key>
	<string>235467762240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sf221</string>
	<key>PROJECT_ID</key>
	<string>sf221-3d822</string>
	<key>STORAGE_BUCKET</key>
	<string>sf221-3d822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235467762240:ios:b138727cb868fa7b33cda5</string>
</dict>
</plist>